/* Tailwind CSS imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prompt - From Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500&display=swap');

html,
body {
  font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.fonts-space-grotesk{
  font-family: 'Space Grotesk', sans-serif;
}

button,
a {
  outline-width: 0;
  outline-style: initial;
  outline-color: initial;
}
button:focus {
  outline: none;
}

/* body {
  background-color: #171717;
  color: #ffffff;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
a {
  font-optical-sizing: auto;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
}

.max-text-line-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}

.max-text-line-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}

.max-text-line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}

.max-text-line-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}

.max-text-line-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}

.max-text-line-10 {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
}
